<a href="https://colab.research.google.com/github/AlejRamos/Aprendiendo-Pandas/blob/main/Funcionalidad_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

print("La información se obtuvo de\nhttps://pandas.pydata.org/docs/user_guide/basics.html#function-application\n")

La información se obtuvo de
https://pandas.pydata.org/docs/user_guide/basics.html#function-application

In [2]:
"""
Aplicacion de Función
"""

print("Para aplicar funciones propias o de otras librerias a objetos",
      "\npandas se deben tener en cuenta tres métodos que veremos en ",
      "\nesta sección.",
      "\nEl método apropiado a usar dependera de si la función operará en",
      "\nun objeto Series o DataFrame entero, fila o columna, o en elemento")

Para aplicar funciones propias o de otras librerias a objetos
pandas se deben tener en cuenta tres métodos que veremos en
esta sección.
El método apropiado a usar dependera de si la función operará en
un objeto Series o DataFrame entero, fila o columna, o en elemento

In [3]:

"""
Tablewise function application
DataFrame y Series pueden ser pasados a funciones. Sin embargo, si la
función necesita ser llamada en una cadena se debe considerar usar el 
método pipe().
"""

#Hacemos una función cuyo parametro es un DataFrame
def extract_city_name(df):
    """
    Chicago, IL -> Chicago for city_name column
    """
    df["city_name"] = df["city_and_code"].str.split(",").str.get(0)
    return df

def add_country_name(df, country_name=None):
    """
    Chicago -> Chicago-US for city_name column
    """
    col = "city_name"
    df["city_and_country"] = df[col] + country_name
    return df


#Ambas funciones devuelven un DataFrame

df_p = pd.DataFrame({"city_and_code": ["Chicago, IL"]})

#Ahora aplicamos en forma de cadena las funciones
print(add_country_name(extract_city_name(df_p), country_name="US"))

#Nótese que la linea anterior es equivalente a
print("\n",
      df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US"))

  city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

   city_and_code city_name city_and_country
0   Chicago, IL   Chicago        ChicagoUS

In [4]:
print("Existe un ejemplo más preciso en\nhttps://pandas.pydata.org/docs/user_guide/basics.html#row-or-column-wise-function-application\n")

Existe un ejemplo más preciso en
https://pandas.pydata.org/docs/user_guide/basics.html#row-or-column-wise-function-application

In [5]:
"""
Row or column-wise function application
Funciones arbitrarias pueden ser aplicados alrededor de los axes del
DataFrame usando el método apply(), el cual, como los métodos de estadistica
descriptiva toma un axes optional como argumento.
"""

df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)


print("Del DataFrame\n",
      df,
      "\nUsando él metodo apply() y np.mean se obtiene:\n",
      df.apply(np.mean),
      "\nEl método apply lo que hace es aplicar otro método al data frame, en este caso\nlo que se obtiene es el mean de las columnas usando numpy.\nSe saltan los NaN")

#Al aplicar numpy podemos elegir tambien los axes.
print("\n\nSacando el mean usando numpy y apply() a los axes\n",
      df.apply(np.mean, axis=1))

#Por supuesto también se pueden aplicar funciones
print("\n\nUsando una función tal que, obtenga el máximo valor y mínimo valor\ny haga la resta el resultado es:\n",
      df.apply(lambda x: x.max() - x.min()),
      "\nEsta función se hizo sobre las columnas\nTambién se puede obtener en los axes:\n",
      df.apply(lambda x: x.max() - x.min(),axis=1))

#También se pueden usar otros métodos numpy
print("\n\nUsando cumsum\n",
      df.apply(np.cumsum),
      "\nUsando np.exp()\n",
      df.apply(np.exp))

Del DataFrame
         one       two     three
a  1.005722 -0.353850       NaN
b -0.959047  2.036098 -0.358200
c  0.882666 -0.345923 -0.206472
d       NaN  0.394628 -0.987622
Usando él metodo apply() y np.mean se obtiene:
 one      0.309780
two      0.432738
three   -0.517432
dtype: float64
El método apply lo que hace es aplicar otro método al data frame, en este caso
lo que se obtiene es el mean de las columnas usando numpy.
Se saltan los NaN


Sacando el mean usando numpy y apply() a los axes
 a    0.325936
b    0.239617
c    0.110090
d   -0.296497
dtype: float64


Usando una función tal que, obtenga el máximo valor y mínimo valor
y haga la resta el resultado es:
 one      1.964770
two      2.389948
three    0.781151
dtype: float64
Esta función se hizo sobre las columnas
También se puede obtener en los axes:
 a    1.359573
b    2.995145
c    1.228589
d    1.382251
dtype: float64


Usando cumsum
         one       two     three
a  1.005722 -0.353850       NaN
b  0.046675  1.682247 -0.358200
c  0.929341  1.336324 -0.564672
d       NaN  1.730952 -1.552295
Usando np.exp()
         one       two     three
a  2.733882  0.701980       NaN
b  0.383258  7.660655  0.698933
c  2.417335  0.707567  0.813449
d       NaN  1.483833  0.372461

In [6]:
"""
Continuando con apply(), tiene la particularidad de poder usarse
strings como argumentos. Veamos los ejemplos a continuación
"""

print("El DataFrame\n",
      df,
      "\nTiene como media en las columnas:\n",
      df.apply("mean"),
      "\ny en las filas:\n",
      df.apply("mean",axis=1))

El DataFrame
         one       two     three
a  1.005722 -0.353850       NaN
b -0.959047  2.036098 -0.358200
c  0.882666 -0.345923 -0.206472
d       NaN  0.394628 -0.987622
Tiene como media en las columnas:
 one      0.309780
two      0.432738
three   -0.517432
dtype: float64
y en las filas:
 a    0.325936
b    0.239617
c    0.110090
d   -0.296497
dtype: float64

In [7]:
"""
El tipo de return de la función pasada apply() afecta el tipo de final output
de DataFrame.apply debido al comportamiento por default:
1. Si la función aplicada retorna una Series, el final output es un DataFrame. 
Las columnas coinciden con el índice Seriesdevuelto por la función aplicada.
2. Si la función aplicada devuelve cualquier otro tipo el final output es un
Series.
Este comportamiento predeterminado se puede anular utilizando result_type, 
que acepta tres opciones: reduce, broadcasty expand. Estos determinarán 
cómo los valores devueltos de los Me gusta de la lista se expanden (o no)
a un archivo DataFrame
"""

'\nEl tipo de return de la función pasada apply() afecta el tipo de final output\nde DataFrame.apply debido al comportamiento por default:\n1. Si la función aplicada retorna una Series, el final output es un DataFrame. \nLas columnas coinciden con el índice Seriesdevuelto por la función aplicada.\n2. Si la función aplicada devuelve cualquier otro tipo el final output es un\nSeries.\nEste comportamiento predeterminado se puede anular utilizando result_type, \nque acepta tres opciones: reduce, broadcasty expand. Estos determinarán \ncómo los valores devueltos de los Me gusta de la lista se expanden (o no)\na un archivo DataFrame\n'

In [8]:
"""apply()combinado con algo de inteligencia se puede utilizar para responder 
muchas preguntas sobre un conjunto de datos.
Por ejemplo, supongamos que quisiéramos extraer la fecha en la que se 
produjo el valor máximo de cada columna:
"""

#Creamos un DataFrame con fechas periodicas y datos Random
tsdf = pd.DataFrame(
    np.random.randn(1000, 3),
    columns=["A", "B", "C"],
    index=pd.date_range("1/1/2000", periods=1000),
)

#Usamos apply con una función
print("La fecha donde se consiguió el mayor valor es:\n",
      tsdf.apply(lambda x: x.idxmax()))

La fecha donde se consiguió el mayor valor es:
 A   2001-12-25
B   2001-08-15
C   2000-10-16
dtype: datetime64[ns]

In [9]:
"""
También puede pasar argumentos adicionales y argumentos de palabras clave 
al apply() método. Por ejemplo, considere la siguiente función que le
gustaría aplicar:
"""

#Creamos una función
def subtract_and_divide(x, sub, divide=1):
    return (x - sub) / divide

print("",
      df,
      "\n",
      df.apply(subtract_and_divide, args=(5,), divide=3))

         one       two     three
a  1.005722 -0.353850       NaN
b -0.959047  2.036098 -0.358200
c  0.882666 -0.345923 -0.206472
d       NaN  0.394628 -0.987622
         one       two     three
a -1.331426 -1.784617       NaN
b -1.986349 -0.987967 -1.786067
c -1.372445 -1.781974 -1.735491
d       NaN -1.535124 -1.995874

In [10]:
"""
Otra característica útil es la capacidad de pasar métodos de Serie para
realizar alguna operación de Serie en cada columna o fila:
"""

print(tsdf)

print(tsdf.apply(pd.Series.interpolate))

                   A         B         C
2000-01-01 -0.264000 -0.814455 -0.160662
2000-01-02 -0.496118  0.218767 -0.194892
2000-01-03 -0.170733 -0.439882 -0.795839
2000-01-04 -0.723087  0.656543 -1.566010
2000-01-05  0.286292  1.129970  1.564329
...              ...       ...       ...
2002-09-22  0.714371 -0.110247  1.697705
2002-09-23 -0.434942  0.771638 -0.249206
2002-09-24  0.358854 -1.157790 -1.480355
2002-09-25  0.511647  0.583930 -1.602569
2002-09-26 -0.597575 -0.135776  1.265401

[1000 rows x 3 columns]
                   A         B         C
2000-01-01 -0.264000 -0.814455 -0.160662
2000-01-02 -0.496118  0.218767 -0.194892
2000-01-03 -0.170733 -0.439882 -0.795839
2000-01-04 -0.723087  0.656543 -1.566010
2000-01-05  0.286292  1.129970  1.564329
...              ...       ...       ...
2002-09-22  0.714371 -0.110247  1.697705
2002-09-23 -0.434942  0.771638 -0.249206
2002-09-24  0.358854 -1.157790 -1.480355
2002-09-25  0.511647  0.583930 -1.602569
2002-09-26 -0.597575 -0.135776  1.265401

[1000 rows x 3 columns]

In [11]:
"""
Agregattion API
Es el siguiente tema en la lista.
La agregattion API permite expresar posibles agregaciones en un camino
sencillo conciso. Esta API es similar a través de los objetos pandas. 
EL punto de entrada para la agregación es DataFrame.aggregate() o el alias
DataFrame.agg().
"""

#Usaremos un objeto como el de la celda anterior
tsdf = pd.DataFrame(
    np.random.randn(10, 3),
    columns=["A", "B", "C"],
    index=pd.date_range("1/1/2000", periods=10),
)

#Ahora hacemos algunos datos NAN
tsdf.iloc[3:7] = np.nan

#Veamos
print(tsdf)

#Si usamos una función simple es equivalente a apply()
#De igual forma se puede usar strings, se devolvera una Serie

print("\n\nUsando np.sum:\n",
      tsdf.agg(np.sum),
      "\nLo mismo se obtiene usando el string sum\n",
      tsdf.agg("sum"),
      "\nPor supuesto esto es igual a usar el método sum ya que es una función simple\n",
      tsdf.sum())

#Por otro lado, las agg en una Serie devuelve un valor escalar
print("\n\nUsando agg(sum) a la columna A:\n",
      tsdf["A"].agg(np.sum))

                   A         B         C
2000-01-01  1.722032 -1.144017 -0.429923
2000-01-02 -0.560357 -0.897058  0.948375
2000-01-03 -1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -0.364400  0.495416 -1.327602
2000-01-09  1.012311  1.387705 -0.817826
2000-01-10  0.056237  1.257779 -0.722530


Usando np.sum:
 A    0.211203
B    2.450127
C   -1.707968
dtype: float64
Lo mismo se obtiene usando el string sum
 A    0.211203
B    2.450127
C   -1.707968
dtype: float64
Por supuesto esto es igual a usar el método sum ya que es una función simple
 A    0.211203
B    2.450127
C   -1.707968
dtype: float64


Usando agg(sum) a la columna A:
 0.2112026619787705

In [12]:
"""
Aggregating con multiples funciones 
Hasta ahora lo que hemos visto con agg no hay diferencia usando apply.
Sin embargo, podemos agregar multiples funciones como argumento en una
lista. El resultado devolvera un row para cada función aplicada, con el 
nombre de la función por supuesto.
"""

print("La suma del DataFrame usando las funciones como argumentos en uns lista:\n",
      tsdf.agg([np.sum]),
      "\nAhora bien, agregamos el promedio:\n",
      tsdf.agg(["sum","mean"]),
      "\nel resultado son multiples rows")

#En Series, agg devuelve una Series, indexado por el nombre de las funciones
print("\n\La suma y promedio de la columna A es:\n",
      tsdf["A"].agg(["sum","mean"]))

#Usar una función lambda, arrojará un <lambda> fila 
print("\n\nRepitiendo el cálculo anterior pero con funcion lambda:\n",
      tsdf["A"].agg(["sum", lambda x: x.mean()]))

#También, si definimos una función con nombre, ese se utilizara en la fila
def mymean(x):
    return x.mean()

print("\n\nUsando la nueva función definida\n:",
      tsdf["A"].agg(["sum", mymean]))

La suma del DataFrame usando las funciones como argumentos en uns lista:
             A         B         C
sum  0.211203  2.450127 -1.707968
Ahora bien, agregamos el promedio:
              A         B         C
sum   0.211203  2.450127 -1.707968
mean  0.035200  0.408354 -0.284661
el resultado son multiples rows

\La suma y promedio de la columna A es:
 sum     0.211203
mean    0.035200
Name: A, dtype: float64


Repitiendo el cálculo anterior pero con funcion lambda:
 sum         0.211203
<lambda>    0.035200
Name: A, dtype: float64


Usando la nueva función definida
: sum       0.211203
mymean    0.035200
Name: A, dtype: float64

In [13]:
"""
Aggregating con dict
Usando un diccionario de nombres de columna a un escalar o lista de escalares,
en un DataFrame podemos customizar cuales funciones se aplican a las columnas
"""

print("A continuación se le aplica el promedio a la columna A y la suma a la B\n",
      tsdf.agg({"A": "mean", "B": "sum"}))

#Se puede usar una lista para obtener un DataFrame de salida.
#Se obtendra una especie de matriz de todas las funciones agregadas

print("\n\nSe aplican distintas funciones a las columnas:\n",
      tsdf.agg({"A": ["mean", "min"], "B": "sum"}),
      "\nNótese que las columnas se mantienen pero en los index se colocan las\nfunciones utilizadas. Para aquellas funciones que no se aplican\na las columnas se colocan un valor vacio.")

A continuación se le aplica el promedio a la columna A y la suma a la B
 A    0.035200
B    2.450127
dtype: float64


Se aplican distintas funciones a las columnas:
             A         B
mean  0.03520       NaN
min  -1.65462       NaN
sum       NaN  2.450127
Nótese que las columnas se mantienen pero en los index se colocan las
funciones utilizadas. Para aquellas funciones que no se aplican
a las columnas se colocan un valor vacio.

In [14]:
"""
Mixed dtypes
Cuando tenemos un objeto de una combinación de dtypes no se puede
agregar, .agg() solo tomara las aggregations validas.
"""

#Creamos un DataFrame de una combinación de dtypes
mdf = pd.DataFrame(
    {
        "A": [1, 2, 3],
        "B": [1.0, 2.0, 3.0],
        "C": ["foo", "bar", "baz"],
        "D": pd.date_range("20130101", periods=3),
    }
)

#Obtenemos el tipo de datos que son
print("El DataFrame:\n",
      mdf,
      "\nTiene los siguientes tipos de datos:\n",
      mdf.dtypes)

#Podemos agregar algunas funciones consideradas validas
print("\n\nPodemos obtener el mínimo y la suma:\n",
      mdf.agg(["min", "sum"]),
      "\n\nNótese que la columna C no tiene un mínimo sin embargo agg coloca uno.\nPor otro lado, en la suma, vemos que la columna C coloca todos los objetos\njuntos, mientras que en la columna D no se puede sumar.")

El DataFrame:
    A    B    C          D
0  1  1.0  foo 2013-01-01
1  2  2.0  bar 2013-01-02
2  3  3.0  baz 2013-01-03
Tiene los siguientes tipos de datos:
 A             int64
B           float64
C            object
D    datetime64[ns]
dtype: object


Podemos obtener el mínimo y la suma:
      A    B          C          D
min  1  1.0        bar 2013-01-01
sum  6  6.0  foobarbaz        NaT

Nótese que la columna C no tiene un mínimo sin embargo agg coloca uno.
Por otro lado, en la suma, vemos que la columna C coloca todos los objetos
juntos, mientras que en la columna D no se puede sumar.

In [15]:
"""
Custom Describe
Con .agg() es facilmente posible crear una customización de funciones
descriptivas.
"""

from functools import partial

#Con el siguiente comando obtenemos el 25% de los datos
q_25 = partial(pd.Series.quantile, q=0.25)

q_25.__name__ = "25%"

#Y con este el 75%
q_75 = partial(pd.Series.quantile, q=0.75)

q_75.__name__ = "75%"

print("La descripción customizada usando agg es:\n",
      tsdf.agg(["count", "mean", "std", "min", q_25, "median", q_75, "max"]))

La descripción customizada usando agg es:
                A         B         C
count   6.000000  6.000000  6.000000
mean    0.035200  0.408354 -0.284661
std     1.197535  1.156672  0.890286
min    -1.654620 -1.144017 -1.327602
25%    -0.511368 -0.548939 -0.794002
median -0.154081  0.876598 -0.576226
75%     0.773292  1.327171  0.373673
max     1.722032  1.387705  0.948375

In [16]:
"""
Transfor API
Es el siguiente tema por ver.
El metodo transform() retorna  un objeto que es indexado igual (del mismo)
tamaño que el objeto de entrada. Este API permite proveer de multiples 
operaciones al mismo tiempo hechos one by one. 
"""

#Creamos otro DataFrame 
sdf = pd.DataFrame(
    np.random.randn(10, 3),
    columns=["A", "B", "C"],
    index=pd.date_range("1/1/2000", periods=10),
)

#Colocamos algunos datos vacios
tsdf.iloc[3:7] = np.nan

print("Tenemos un DataFrame con algunos valores vacios\n",
      tsdf)

#Transformar el frame entero permite usar funciones Numpy, strings,
#o una función definida.
print("\n\nPodemos obtener del frame su valor absoluto:\n",
      tsdf.transform(np.abs),
      "\néste se realizo usando np.abs, tambien se\npuede con el string abs\n",
      tsdf.transform("abs"),
      "\nfinalmente se usa una función lambda para \nobtener el valor absoluto del frame\n",
      tsdf.transform(lambda x: x.abs()))

Tenemos un DataFrame con algunos valores vacios
                    A         B         C
2000-01-01  1.722032 -1.144017 -0.429923
2000-01-02 -0.560357 -0.897058  0.948375
2000-01-03 -1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -0.364400  0.495416 -1.327602
2000-01-09  1.012311  1.387705 -0.817826
2000-01-10  0.056237  1.257779 -0.722530


Podemos obtener del frame su valor absoluto:
                    A         B         C
2000-01-01  1.722032  1.144017  0.429923
2000-01-02  0.560357  0.897058  0.948375
2000-01-03  1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.364400  0.495416  1.327602
2000-01-09  1.012311  1.387705  0.817826
2000-01-10  0.056237  1.257779  0.722530
éste se realizo usando np.abs, tambien se
puede con el string abs
                    A         B         C
2000-01-01  1.722032  1.144017  0.429923
2000-01-02  0.560357  0.897058  0.948375
2000-01-03  1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.364400  0.495416  1.327602
2000-01-09  1.012311  1.387705  0.817826
2000-01-10  0.056237  1.257779  0.722530
finalmente se usa una función lambda para
obtener el valor absoluto del frame
                    A         B         C
2000-01-01  1.722032  1.144017  0.429923
2000-01-02  0.560357  0.897058  0.948375
2000-01-03  1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.364400  0.495416  1.327602
2000-01-09  1.012311  1.387705  0.817826
2000-01-10  0.056237  1.257779  0.722530

In [17]:
"""
aquí transform recibe una funcion simple, lo que es equivalente a 
una aplicacion ufunc
"""

#Se aplica la ufunc
print("Seguimos con el valor absoluto, esta vez aplicando ufunc:\n",np.abs(tsdf))

#Si transformamos una serie devuelve una Serie
print("\n\nObtenemos el valor absoluto de la columna C usando transform:\n",
      tsdf["C"].transform(("abs")))

Seguimos con el valor absoluto, esta vez aplicando ufunc:
                    A         B         C
2000-01-01  1.722032  1.144017  0.429923
2000-01-02  0.560357  0.897058  0.948375
2000-01-03  1.654620  1.350301  0.641538
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.364400  0.495416  1.327602
2000-01-09  1.012311  1.387705  0.817826
2000-01-10  0.056237  1.257779  0.722530


Obtenemos el valor absoluto de la columna C usando transform:
 2000-01-01    0.429923
2000-01-02    0.948375
2000-01-03    0.641538
2000-01-04         NaN
2000-01-05         NaN
2000-01-06         NaN
2000-01-07         NaN
2000-01-08    1.327602
2000-01-09    0.817826
2000-01-10    0.722530
Freq: D, Name: C, dtype: float64

In [26]:
"""
Transform con multiples funciones
Usar multiples funciones producira un DataFrame multiindexado. El primer 
nivel contendrá los nombres de las columnas originales, y el segundo 
el nombre de las funciones aplicadas.
"""

#A continuación se usará transform con multiples funciones, las cuales 
#serán una combinación de las ya vistas
print("Al frame ya usado con anterioridad se le aplican dos funciones:\n",
      tsdf.transform([np.abs, lambda x: x + 1]))

#Usar multiples funciones en una Serie producirá un DataFrame, cuyas 
#columnas llevan por nombre la función
print("\n\nAplicamos a la columna a tres funciones distintas:\n",
      tsdf["A"].transform([np.cos,"abs", lambda x: x**2]))

Al frame ya usado con anterioridad se le aplican dos funciones:
                    A                   B                   C
            absolute  <lambda>  absolute  <lambda>  absolute  <lambda>
2000-01-01  1.722032  2.722032  1.144017 -0.144017  0.429923  0.570077
2000-01-02  0.560357  0.439643  0.897058  0.102942  0.948375  1.948375
2000-01-03  1.654620 -0.654620  1.350301  2.350301  0.641538  1.641538
2000-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN       NaN       NaN
2000-01-08  0.364400  0.635600  0.495416  1.495416  1.327602 -0.327602
2000-01-09  1.012311  2.012311  1.387705  2.387705  0.817826  0.182174
2000-01-10  0.056237  1.056237  1.257779  2.257779  0.722530  0.277470


Aplicamos a la columna a tres funciones distintas:
                  cos       abs  <lambda>
2000-01-01 -0.150659  1.722032  2.965393
2000-01-02  0.847066  0.560357  0.314000
2000-01-03 -0.083726  1.654620  2.737768
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.934338  0.364400  0.132787
2000-01-09  0.529902  1.012311  1.024773
2000-01-10  0.998419  0.056237  0.003163

In [31]:
"""
Transforming con dict
Para finalizar la parte de transform veremos que podemos ser selectivos
con las funciones aplicadas a las columnas si usamos un diccionario, es 
decir, si queremos que solo a la columna A se le aplique mean y a la B 
sum con dict se puede.
"""

print("A la columna A se le aplicará el coseno, mientras que a B el seno:\n",
      tsdf.transform({"A":np.cos, "B":np.sin}))

#Usando una lista en el dict, se genera un DataFrame multiindexado con las
#transformaciones selectivas.

print("\n\nSe aplica otra vez el coseno a la columna A\ny a la B el seno y una función lambda que eleva al cuadrado:\n",
      tsdf.transform({"A":np.cos, "B":[np.sin,lambda x: x**2]}))

A la columna A se le aplicará el coseno, mientras que a B el seno:
                    A         B
2000-01-01 -0.150659 -0.910304
2000-01-02  0.847066 -0.781495
2000-01-03 -0.083726  0.975789
2000-01-04       NaN       NaN
2000-01-05       NaN       NaN
2000-01-06       NaN       NaN
2000-01-07       NaN       NaN
2000-01-08  0.934338  0.475398
2000-01-09  0.529902  0.983286
2000-01-10  0.998419  0.951409


Se aplica otra vez el coseno a la columna A
y a la B el seno y una función lambda que eleva al cuadrado:
                    A         B
                 cos       sin  <lambda>
2000-01-01 -0.150659 -0.910304  1.308776
2000-01-02  0.847066 -0.781495  0.804713
2000-01-03 -0.083726  0.975789  1.823314
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08  0.934338  0.475398  0.245437
2000-01-09  0.529902  0.983286  1.925726
2000-01-10  0.998419  0.951409  1.582008

In [32]:
print("Es así como culminamos la tercer parte de funcionalidad")

Es así como culminamos la tercer parte de funcionalidad