<a href="https://colab.research.google.com/github/AlejRamos/Aprendiendo-Pandas/blob/main/Series_Inicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Exportamos las librerias necesarias 
import pandas as pd
import numpy as np

In [2]:
"""
Series: Es una matriz etiquetada unidimensional capaz de contener cualquier 
tipo de dato. Las etiquetas de los ejes se denominan índices
"""

#serie = pd.Series(data, index=indice)
pd.Series([1,2,45.2,3.1416,"Hola"], index=["a","b","c","d","e"])

a         1
b         2
c      45.2
d    3.1416
e      Hola
dtype: object

In [3]:
"""
Data puede ser muchas cosas, e index son las etiquetas de los ejes.
Se puede traer datos desde ndarray, en tal caso el índice debe tener la misma 
longitud de datos. En caso de no ponerse índices estos se ponen automaticamente.
"""

array = np.array([1,2,3,4])
s2 = pd.Series(array)
print(s2)

pd.Series(np.random.rand(5))

0    1
1    2
2    3
3    4
dtype: int64

0    0.581534
1    0.277926
2    0.504290
3    0.486154
4    0.425388
dtype: float64

In [4]:
"""
De dicatos. Se puedeb crear instancias de series a parti de dictados 
"""

d = {"a":1, "b": 3.1416, "c":"azucar"}
pd.Series(d)

a         1
b    3.1416
c    azucar
dtype: object

In [5]:
"""
De valor escalar: Podemos hacer una serie de un valor escalar, se debe 
proporcionar un indice. El valor se repetira para que coincida con la longitud
del indice
"""
ind = ["a","b","c"]
pd.Series(5.0, index=ind)

a    5.0
b    5.0
c    5.0
dtype: float64

In [12]:
"""
Series es similar a ndarray. Sin embargo operaciones como la división tambien dividirá el indice
"""
serie = pd.Series([1,2,3,4,5,6,7,8,9])
serie1 = pd.Series([1,2,3,4,5,6,7,8,9],index=["a","b","c","d","e","f","g","h","i"])

valorn = serie[0:5] #Extrae los elemnos desde 0 a 4
valornesimo = serie[1:2] # Extrae los elementos de 1
valor = serie[4] #Extrae el elemento 4 sin índice, 
valor1 = serie1["c"] #Si las etiquetas son strings mandamos a traer con la etiqueta

print(valorn)
print(valornesimo)
print(valor)
print(valor1)

mult_escalar = 5*serie #Multiplica los datos por un escalar
print(mult_escalar)

suma_escalar = 2+serie #Suma a cada dato un escalar
print(suma_escalar)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    2
dtype: int64
5
3
0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
dtype: int64
0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    10
8    11
dtype: int64
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
i   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
dtype: float64

In [17]:
"""
Series como ndarray. En caso de querer utilizar un ndarray
"""
np.exp(serie) #Saca la exponencial de los valores de la serie
serie.dtype #Comando para saber que tipo de dato es la serie

serie.array #Si queremos convertir en un array la serie, aqui ya la manejamos como vector
serie1.to_numpy() #Lo convertimos en un array de numpy

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [29]:
"""
La serie es como un dictado, en el sentido que podemos reempazar algun dato, 
extraerlo, y otras operaciones con las etiquetas
"""

series2 = pd.Series([14,3.5,22],index=["x","y","z"])
print(series2)

print(series2["y"])
series2["y"] = 3.1416 #Cambia el elemento
print(series2)

"e" in series2 #Si no hay un índice existente en la serie arrojará falso
"z" in series2 #Si existe el índice arroja verdadero
#series2["a"] #Si una etiqueta no está incluida se genera un error
series2.get("f") #Como es una etiqueta faltante arrojará nada
series2.get("f", 14) #Regresará el valor especidificado

x    14.0
y     3.5
z    22.0
dtype: float64
3.5
x    14.0000
y     3.1416
z    22.0000
dtype: float64

14

In [37]:
"""
Operaciones vectorizadas y Alineaciones de etiquetas
Cuando se trabaja con series se puede pasar la mayoria a métodos numpy esperando un ndarray
"""

series2+series2 #Suma elemento a elemento, si las etiquetas son iguales

"""
una diferencia entre Series y ndarray es que las operaciones entre series 
alinean automaticamente los datos segun la etiqueta. Por lo tanto pueden 
escribirse cálculos sin tener en cuenta si las series involucradas tienen las
mismas etiquetas
"""
"""
El resultado de una operación entre Series no alineadas tendrá la unión de los 
índices implicados. Si una etiqueta no se encuentra en una serie u otra, el
resultado se marcará como NaN que falta. Ser capaz de escribir código sin 
hacer ninguna alineación de datos explícita garantiza una inmensa libertad y 
flexibilidad en el análisis e investigación de datos interactivos. Las 
características integradas de alineación de datos de las estructuras de datos 
pandas distinguen a los pandas de la mayoría de las herramientas relacionadas 
para trabajar con datos etiquetados.
"""

series2[1:]+series2[:-1]

x       NaN
y    6.2832
z       NaN
dtype: float64

In [47]:
"""
Atributo de nombre: Podemos ponerle un nombre a la serie
"""

serie4 = pd.Series(np.random.randint(0,5,5), name="randomizando")
serie4
serie4.name

#Se puede renombrar
s4 = serie4.rename("cambio")
s4

#serie4 y s4 hacen referencia a distintos objetos

0    1
1    1
2    3
3    1
4    2
Name: cambio, dtype: int64